# Bert_data_pre

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: lightgbm in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (3.3.0)
Requirement already satisfied: numpy in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: scipy in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: wheel in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: scikit-learn!=0.22.0 in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: joblib>=0.11 in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/wangyibo06/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)

# 1„ÄÅdata extract

In [1]:
import json

In [2]:
def prepare_data(filename):
    """
    args: 
        data: {user_id:{"text":text,"user":user,"place_id":place_id}}
     
    return:
        result: {text: [text1,text2,...],length:[length1,length2,...],label:[rumor or not,...] } 
    """
    with open(filename, 'r') as obj:
        for line in obj.readlines():
            data = json.loads(line)
    result = {}
    text = []
    textlabel = []
    length = []
    for user_id in data.keys():
        text.append(data[user_id]['text'])
        textlabel.append(data[user_id]['place_id']) 
        length.append(len(data[user_id]['text']))
    result['text'] = text
    result['length'] = length
    result['label'] = textlabel
    return result

In [3]:
file = './train_dev_data/0905_1005.txt'
train_dev = prepare_data(file)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train_dev_df = pd.DataFrame(train_dev)
train_dev_df.head()

                                                text  length  label
0  Just posted a photo @ West End https://t.co/se...      54      4
1  Just posted a photo @ Caulfield North, Victori...    2384      3
2  WATERCOLOUR ART CLASSES ONLINE  Thursday 9 Sep...     280      1
3  Just posted a photo @ Centennial Parklands htt...    1641      1
4  Just posted a photo @ Richmond Hill Angus http...     264     11

In [6]:
#split the train_dev dataset
from sklearn.model_selection import train_test_split
x_processed = train_dev_df['text']
y_processed = train_dev_df['label']
x_train,x_dev,y_train,y_dev = train_test_split(x_processed,y_processed,test_size = 0.3,stratify = y_processed,random_state = 22)

In [7]:
print(len(x_train))
print(len(x_dev))
print(y_train.head())

2132
915
121     1
1473    0
1741    4
2189    5
2666    1
Name: label, dtype: int64

In [8]:
print(len(x_train.iloc[:].values))

2132

In [16]:
train_df = pd.DataFrame(list(zip(x_train,y_train)),columns=['text','label'])
dev_df = pd.DataFrame(list(zip(x_dev,y_dev)),columns=['text','label'])

In [17]:
train_df.head()

                                                text  label
0  #sydneylockdown\nOur beautiful city, isolating...      1
1  Just posted a photo @ Malabar Botanical Nurser...      0
2  For my birthday, I donated blood as a way of g...      4
3  @negroniweek Negroni and charity. The best fee...      5
4  Repost from @est_living of this home in Bilgol...      1

In [18]:
dev_df.head()

                                                text  label
0  Admiring the neon jellyfish before we head out...      5
1  At the beach today #lovemallacoota #loveeastgi...      2
2  Just posted a video @ Sydney, Australia https:...      1
3  Just posted a photo @ Kew, Melbourne, Victoria...      3
4  Just posted a photo @ Heide Museum of Modern A...      3

In [19]:
train_df['text'][0]

"#sydneylockdown\nOur beautiful city, isolating until we meet again. Can't wait to be able to even walk these streets‚Ä¶ https://t.co/EEeeaOmnoR#sydneylockdown\nOur beautiful city, isolating until we meet again. Can't wait to be able to even walk these streets‚Ä¶ https://t.co/x3zsHrWNDK"

In [ ]:
train_df[['text','label']].iloc[:].to_csv('/content/drive/MyDrive/nlp/train.tsv', index=None, header=True, sep='\t')
dev_df[['text','label']].iloc[:].to_csv('/content/drive/MyDrive/nlp/dev.tsv', index=None, header=True, sep='\t')
# test_df[['text','label']].iloc[:].to_csv('/content/drive/MyDrive/nlp/test.tsv', index=None, header=True, sep='\t')
# test_df[['id','text','label']].iloc[:].to_csv('/content/drive/MyDrive/nlp/url_user_hash_test.tsv', index=None, header=True, sep='\t')